<!DOCTYPE html>
<html lang="en">
    ${head}
<body>
    <div><p>${message}</p></div>
    <form action="${domain}/api/auth/signin" method="post">
    <div class="form-group container">
        <div class="loginForm">
            <div class="title">
                 Account Login
            </div>
            <div class="input-form username">
                <input name="username" type="text" class="input" placeholder="Username"/>
            </div>
            <!-- <div class="input-form email">
                <input type="text" class="input" placeholder="Email">
            </div> -->
            <div class="input-form password">
                <input name="password" type="password" class="input" placeholder="Password"/>
            </div>
             <button class="btn btn-dark" type="submit">Submit</button>
                <a href="/api/auth/google">Login with Your Google Account</a>
            </div>
    <div><a href="${domain}/signup">Create an Account</a></div>
        </div>
    </div>
</form>
</body>
</html>