<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Sign In</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="api/auth/signin" method="post">
    <div class="wrapper">
        <div class="loginForm">
            <div class="title">
                 Account Login
            </div>
            <div class="input-form username">
                <input name="username" type="text" class="input" placeholder="Username"/>
            </div>
            <!-- <div class="input-form email">
                <input type="text" class="input" placeholder="Email">
            </div> -->
            <div class="input-form password">
                <input name="password" type="password" class="input" placeholder="Password"/>
            </div>
             <button class="btn" type="submit">Submit</button>
                <a href="/api/auth/google">Login with Your Google Account</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>